<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<title>Title</title>-->
</head>
<body>
<div id="wrapper">
    <div id="main">
        <article class="post">
            <h1>Group name : {{currentGroup.name}}</h1>
            <ul>
                <pre ng-repeat="item in currentGroup.groupShoppingList"></pre>
            </ul>
        </article>
        <article class="post">
            <h1>Participants:</h1>
            <footer>
                <button style="margin-left:1em" ng-repeat="participant in currentGroup.groupParticipants">
                    {{participant.username}}
                </button>
            </footer>
        </article>
        <article class="post">
            <h1>Lista zakupów</h1>
                <ul>
                    <li ng-repeat="item in currentGroup.groupShoppingList.itemsList track by $index">
                        <h2>{{item}}</h2>
                    </li>
                </ul>

            <form class="input">
                <input ng-model="newItem" type="text" placeholder="Add item to list"/>
                <button type="submit" ng-click="addItemToList()">Add</button>
            </form>

        </article>
        <article class="post">
            <h1>Last transactions:</h1>
            <section>
                <form class="input">
                </form>
            </section>
        </article>
        <article class="post">
            <pre>{{currentGroup | json }}</pre>
        </article>
    </div>
</div>
</body>
</html>