<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<title>Title</title>-->
</head>
<body>
<div id="wrapper">
    <div id="main">
        <article class="post">
            <h1>Group name : {{currentGroup.name}}</h1>
        </article>
        <article class="post">
            <h1>Participants:</h1>
            <footer>
                <button style="margin-left:1em" ng-repeat="participant in currentGroup.groupParticipants">
                    {{participant.username}}
                </button>
            </footer>
        </article>
        <article class="post">
            <h1>Lista zakupów</h1>
                <!--<ul>-->
                    <!--<li ng-repeat="item in currentGroup.groupShoppingList.itemsList track by $index">-->
                        <!--<input type="checkbox"> <h2>{{item.name}}</h2>-->
                    <!--</li>-->
                <!--</ul>-->
                <label ng-repeat="item in shoppingList">
                    <input type="checkbox" checklist-model="boughtItems" checklist-value="item.id"> <label> {{item.name}} </label>
                </label>

            <form class="input">
                <input ng-model="newItem" type="text" placeholder="Add item to list"/>
            </form>
            <button type="submit" ng-click="addItemToList()">Add</button>
            <button type="submit" ng-click="checkAsBought()">Bought</button>
            <!--<button type="submit" ng-click="testIt()">Test</button>-->

        </article>
        <article class="post">
            <h1>Last transactions:</h1>
            <section>
                <form class="input">
                </form>
            </section>
        </article>
        <article class="post">
            <pre>{{currentGroup | json }}</pre>
        </article>
    </div>
</div>
</body>
</html>