# Created by .ignore support plugin (hsz.mobi)
*.iml
.idea/
*/target/*

# flatWallet-webapp
node_modules/
bower_components/
*.class

# Package Files #
*.jar
*.war
*.ear

*.log
*.concat.js
/backend/app/target
/app/src/main/resources/application.properties
