<!-- Main -->
<!-- Wrapper -->
<div id="wrapper">
<div id="main">

    <!-- Post -->
    <article class="post">
        <footer>
            <h2><font color="red">28,76 zł  :</font></h2>
            <h2>Detergenty</h2>
        </footer>
        <footer>
            <h2><img class="image minimal" src="images/mmajew.png" /></h2>
            <h2> Janusz</h2>
        </footer>
    </article>

    <article class="post">
        <footer>
            <h2><font color="green">7,99 zł   :</font></h2>
            <h2>Ręczniczki</h2>
        </footer>
        <footer>
            <h2><img class="image minimal" src="images/superg.png" /></h2>
            <h2> Marcin</h2>
        </footer>
    </article>

    <article class="post">
        <footer>
            <h2><font color="green">9,95 zł   :</font></h2>
            <h2>Chleb i masło</h2>
        </footer>
        <footer>
            <h2><img class="image minimal" src="images/superg.png" /></h2>
            <h2> Marcin</h2>
        </footer>
    </article>

    <article class="post">
        <footer>
            <h2><font color="red">11,25 zł   :</font></h2>
            <h2>Napoje</h2>
        </footer>
        <footer>
            <h2><img class="image minimal" src="images/mmajew.png" /></h2>
            <h2> Janusz</h2>
        </footer>
    </article>

</div>

<!-- Sidebar -->
<section id="sidebar">

    <!-- Intro -->
    <section id="intro">
        <header>
            <h3>Stan konta</h3>
            <h2><font color="red">-21,97 zł</font></h2>
        </header>
    </section>

    <!-- Posts List -->
    <section>
        <ul class="posts">
            <li>
                <article>
                    <header>
                        <h3>Lista zakupów</h3>
                       <ul>
                           <li ng-repeat="item in currentGroup.groupShoppingList.itemsList">
                               <h2>{{item}}</h2>
                           </li>
                       </ul>
                    </header>
                </article>
            </li>
        </ul>

        <form class="input">
            <input ng-model="newItem" type="text" placeholder="Add item to list"/>
            <button type="submit" ng-click="addItemToList()">Add</button>
        </form>

    </section>

    <!-- Footer -->
    <section id="footer">
        <ul class="icons">
            <li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
        </ul>
    </section>

</section>
</div>
